.containerVerLote {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    height: 100vh;
  }
  
.info-sectionVerLote {
    display: flex;
    flex-direction: column;
    background-color: #DAC5B3;
    border-radius: 10px;
    padding: 10px;
    overflow-y: hidden;
  }
  
.map-sectionVerLote {
    display: flex;
    flex-direction: column;
    background-color: #A6948A;   
    overflow: hidden; 
  }

.manejo-verLote-wrapper {
    flex: 1;
  }

.verLote-section {
    height: 100px;
    width: 100%;
    background-color: #DAC5B3;
    padding: 20px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
  }

.infoVerLote {
  font-size: 25px;
  color: #000;
}

.datosLote {
    display: flex;
    flex-direction: column;
    color: #000000;
}

.info-hectarea {
  font-weight: 400;
}

