.formLogin{
    background-color: #A6948A;
    /* opacity: 0.9; */
    max-width: 450px;
    width: auto;
    /* height: 425px; */
    margin-left: 100px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tituloCentradoIS{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 40px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.tituloIniciarSesion{
    text-align: center;
    display: flex;
    justify-content: center;
}

.inputCentradoIS{
    background: #D9D9D9;
    width: 500px;
}

.inputCentradoIS:focus{
    background: #CECECE;
    width: 100%;
}

.containerCentradoIS{
    display: block;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px; 
}

.divBotonesIS{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.botonIS{
    margin: 15px 7.5px;
    padding: 6px 30px;
    border-radius: 10px;
    background: #B5BF63;
    border: 3px solid #859745;
    width: 140px;
    display: flex;
    justify-content: center;
    color:#000;
    text-transform: none;
    font-size: 17px;
}

.botonIS:hover{
    background-color: #A2A378;
    color:#000;
    text-transform: none;
    font-size: 17px;
    border: 3px solid #859745;
}

.labelsIS{
    justify-content: center;
    margin: 0px 40px;
}

.letraInterIS{
    font-family: 'Inter', sans-serif;
    color: #000;    
}

/* .letraNegritaIS{
    font-weight: bold;
} */

.forgotCentrado{
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.campoVacioIS{
    color: #c20000;
    margin: 0px 40px;
}

.loginEstilo{
    background-image: url(../../../../assets/concepto-jardineria-hombre-plantando.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding-top: 30px;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column; /* Cambio a flex-direction: column */
    align-items: flex-start;
    padding-left: 120px;
}

.nombreMarca{
  width: 100%;
  height: 170px;
}

.marca{
  margin-bottom: 40px;
}


.olvidada{
  text-transform: none;
}


@media screen and (max-width: 500px) {
  .formLogin {
    margin-left: 35px;
  }

  .loginEstilo {
    padding-left: 10px;
    padding-top: 100px;
  }   
    
  .containerCentradoIS {
    display: grid;
    grid-template-columns: 1fr; 
    align-items: center;
  }
    
  .inputCentradoIS {
    margin: 0px 10px !important;
    width: 95%;
  }

  .divBotonesIS {
    flex-wrap: wrap;
    align-items: center;
  }

  .labelsIS {
    margin: 0px 20px;
  }

  .campoVacioIS {
    margin: 0px 20px;
  }

  .nombreMarca{
    width: 100%;
    height: 130px;
  }
  
  .marca{
    margin-bottom: 60px;
    margin-right: 10px;
  }
}

