.btnNuevo{
    border-radius: 10px;
    margin: 10px auto;
    width: 350px;
    height: 100px;
    /* border: 4px solid #716767; */
    font-size: 85px;
    background-color: #9A877D;
    align-items: center;
    border-color: #9A877D;
  }



  .btnNuevo:hover{
    background-color: #716767bb;
    border-color: #716767bb;
  
  }
  
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
  }

  .signoMas{
    color: #716767;
  }

.linkBtn{
  display: flex;
  text-decoration: none;
}

.centrarTitulo{
  text-align: center;
  margin-top: 20px;
}

.tituloCampos{  
  text-transform: none;
}

