.spinner {
    height: 100vh;
    width: 100vw;

}
.spinner-centrado {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.spinner-imagen {
    width: 100px;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-text {
    margin-top: 15px;
}