.containerNuevoLote {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 91vh;
    gap: 2px;
  }

@media (max-width: 700px) { 
  .containerNuevoLote {
    grid-template-columns: 1fr; 
  }

  .info-sectionNuevoLote {
    flex-shrink: 0;
    min-height: 40vh;
  }
  
  .map-sectionNuevoLote {
    flex-shrink: 0;
    min-height: 60vh;
  }
}

  .info-sectionNuevoLote {
    display: flex;
    flex-direction: column;
    background-color: #F2DCC9;
    /* border: 2px solid #000000; */
    /* border-radius: 10px; */
    padding: 10px;
    overflow-y: hidden;
  }
  
  .map-sectionNuevoLote {
    display: flex;
    flex-direction: column;
    background-color: #A6948A;   
    overflow: hidden; 
  }

  .manejo-lote-wrapper {
    flex: 1;
  }
  
  .loteo-mapa-wrapper {
    flex: 4;
  }

  