.containerNuevoLote {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 91vh;
    gap: 2px;
  }


  .info-sectionNuevoLote {
    display: flex;
    flex-direction: column;
    background-color: #DAC5B3;
    padding: 10px;
    overflow-y: hidden;
  }
  
  .map-sectionNuevoLote {  
    display: flex;  
    flex-direction: column;
    background-color: #A6948A;   
    overflow: hidden; 
  }

  .manejo-lote-wrapper {
    flex: 1;
  }
  
  .loteo-mapa-wrapper {
    flex: 4;
  }

  @media (max-width: 700px) { 
    .containerNuevoLote {
      grid-template-columns: 1fr; 
    }
  
    .info-sectionNuevoLote {
      flex-shrink: 0;
      height: 100vh !important;
    }
    
    .map-sectionNuevoLote {
      display: none;
    }
  }
  