.lote-section {
    height: 150px;
    width: 100%;
    background-color: #F2DCC9;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
  }

  .ingresoNombreLote{
    background: #F2DCC9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 35px;
  }
  .nuevoNombreLote {
    display: flex;
    flex-direction: column;
    color: #000000;
  }

  .botonesNuevoLote {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .btnCancelarLote{    
    background: #F2DCC9;
    border: 2px solid #000;
}
.btnGuardarLote{    
    background: #B5BF63;
    border: 2px solid #859745;
}

.estiloBotonLote{
  text-transform: none;
  border-radius: 10px;
  padding: 4px 30px;
  font-size: 16px;
  width: 130px;
}

.infoNuevoLote {
  font-size: 30px;
  color: #000;
}

/* Estilos específicos para pantallas móviles */
@media (max-width: 767px) {
  .lote-section {
    flex-direction: column;
    height: auto; /* Ajusta la altura automáticamente según el contenido */
  }

  .nuevoNombreLote {
    align-items: center; /* Centra el contenido horizontalmente */
    gap: 10px; /* Agrega espacio entre los elementos */
  }

  .botonesNuevoLote {
    flex-direction: row; /* Coloca los botones en una fila */
    justify-content: space-between; /* Distribuye los botones alrededor del espacio disponible */
  }

  .estiloBotonLote {
    width: 100%; /* El ancho de los botones ocupa todo el ancho disponible */
  }

  .infoNuevoLote{
    font-size: 26px;
  }
}