.lote-section {
    height: 150px;
    width: 100%;
    background-color: #DAC5B3;
    padding: 20px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
  }

.botonesNuevoLote {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

.infoNuevoLote {
  font-size: 25px;
  color: #000;
}

/* Estilos específicos para pantallas móviles */
@media (max-width: 767px) {
  .lote-section {
    flex-direction: column;
    height: auto; 
  }

  .nuevoNombreLote {
    align-items: center; /* Centra el contenido horizontalmente */
    gap: 10px; /* Agrega espacio entre los elementos */
  }

  .botonesNuevoLote {
    flex-direction: row; /* Coloca los botones en una fila */
    justify-content: space-between; /* Distribuye los botones alrededor del espacio disponible */
  }
}