.contenedorProductores{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #F2DCC9; /* Reemplaza 'tuColorDeFondo' con el color que desees */
    z-index: 1; /* Asegúrate de que el fondo esté en el fondo de todos los elementos */
    padding-left: 25%;
    padding-right: 25%;
 
}

.tituloProductorLista{
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}

.tituloCentradoListaProductor{
    text-align: center;
    margin-top: 10px;
}

.tarjetasContenedor {
    /* overflow: auto; */
    overflow-y: auto; 
    max-height: calc(100% - 175px); /* Altura máxima para las tarjetas, ajusta según sea necesario */
    scrollbar-width: thin; /* Agrega el ancho del scrollbar (puede ser 'auto' o 'thin') */
    scrollbar-color: transparent transparent;
}

.tarjetasScroll {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    overflow-y: auto;
    max-height: 100%;
    /* scrollbar-width: none; */
    scrollbar-width: thin; /* Agrega el ancho del scrollbar (puede ser 'auto' o 'thin') */
    scrollbar-color: transparent transparent;
}

.botonNuevaTomaContenedor {
    text-align: center;
    margin-top: 15px; /* Espacio entre las tarjetas y el botón */
}


/* Oculta la barra de desplazamiento en navegadores WebKit (como Chrome y Safari) */
.tarjetasContenedor::-webkit-scrollbar {
    /* display: none; */
    width: 0px;
}

.tarjetasContenedor::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color transparente para el pulgar de la barra de desplazamiento */
    border-radius: 3px;
}


.tarjetasContenedor::-webkit-scrollbar-track {
    background-color: transparent; /* Color transparente para el pulgar de la barra de desplazamiento */
    
}

.btnNuevoProductor{
    border-radius: 10px;
    margin: 10px auto;
    margin-bottom: 0px;
    width: 100%;
    /* height: 45px; */
    border: 4px solid #716767;
    font-size: 40px;
    background-color: #cdb49f;
    align-items: center;
  }

.btnNuevoProductor:hover{
    background-color: #716767bb;
    border-color: #716767bb;
  
  }
  
  .signoMas{
    color: #716767;
  }

  .estiloBotonesListaProductor{
    text-transform: none;
    border-radius: 10px;
    padding: 4px 0px;
    font-size: 16px;
    width: 120px;
  }

.botonVolverProductor{    
    background: #F2DCC9;
    border: 2px solid #000;
}


/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {

    .contenedorProductor{
        padding-left: 5%;
        padding-right: 5%;
    }

    .tituloProductorLista {
      font-size: 24px;
    }
    
    .tarjetasScroll {
      display: flex;
      flex-direction: column; /* Cambia la disposición de las tarjetas en pantallas pequeñas */
    }
  
    .btnNuevoProductor {
      font-size: 30px; /* Ajusta el tamaño del botón en pantallas pequeñas */
    }
  
  
    .estiloBotonesListaProductor {
      font-size: 18px; /* Ajusta el tamaño de los botones en pantallas pequeñas */
      width: auto;
      padding: 10px 20px; /* Aumenta el espacio alrededor de los botones en pantallas pequeñas */
    }
  
    .botonNuevaTomaContenedor {
      margin-top: 10px; /* Reduce el espacio entre las tarjetas y el botón en pantallas pequeñas */
    }

    .tarjetasContenedor{
        max-height: calc(100% - 170px);
    }
  }