.informacion-footer {
  
    background-color: #222;
    color: #fff;
    display: inline-block;
    width: 100%;
  }

.seccion-footer {
    margin: 2px 10px;
    color: #fff;
  }

.link-footer {
    color: #fff;
  }