.contenedorLaboratorios{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #DAC5B3; 
    z-index: 1; 
    padding-left: 25%;
    padding-right: 25%;
 
}

.tituloLaboratorioLista{
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}

.tituloCentradoListaLaboratorio{
    text-align: center;
    margin-top: 10px;
}

.tarjetasContenedor {
    overflow-y: auto; 
    max-height: calc(100% - 175px); 
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
}

.tarjetasScroll {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 100%;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.botonNuevaTomaContenedor {
    text-align: center;
    margin-top: 15px; 
}

.tarjetasContenedor::-webkit-scrollbar {
    width: 0px;
}

.tarjetasContenedor::-webkit-scrollbar-thumb {
    background-color: transparent; 
    border-radius: 3px;
}

.tarjetasContenedor::-webkit-scrollbar-track {
    background-color: transparent; 
    
}

.boton-agregar-laboratorio {
  width: 100%;
  text-transform: none;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  color: #000000;
}

.boton-agregar-laboratorio:hover{
  background-color:#c2b09f;
}

.contenedor-cards-labs {
  min-height: 300px;
  width: 100%;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {

    .contenedorLaboratorios{
        padding-left: 5%;
        padding-right: 5%;
    }

    .tituloLaboratorioLista {
      font-size: 24px;
    }
    
    .tarjetasScroll {
      display: flex;
      flex-direction: column; /* Cambia la disposición de las tarjetas en pantallas pequeñas */
    }
  
    .btnNuevoLaboratorio {
      font-size: 30px; /* Ajusta el tamaño del botón en pantallas pequeñas */
    }
  
  
    .estiloBotonesListaLaboratorio {
      font-size: 18px; /* Ajusta el tamaño de los botones en pantallas pequeñas */
      width: auto;
      padding: 10px 20px; /* Aumenta el espacio alrededor de los botones en pantallas pequeñas */
    }
  
    .botonNuevaTomaContenedor {
      margin-top: 10px; /* Reduce el espacio entre las tarjetas y el botón en pantallas pequeñas */
    }

    .tarjetasContenedor{
        max-height: calc(100% - 170px);
    }
  }