.productorCard{
  width: 100%;
  border-top: solid grey 2px;
  text-align: center;  
  }

  .cabeceraProductor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding-top: 3px;
  }

  .botonesProductorCard{
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0px 4px;
    display: inline-block;
    vertical-align: middle;
  }

  .iconosProductorCard{
    width: 20px;
  }

  .pantalla-chica-productores {
    display: none;
  }

  .nombreProductor{
    font-size: 20px;
    margin-left: 10px;

    max-width: 400px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: black;
  }


  

  @media (max-width: 768px) {

    .nombreProductor{
      font-size: 15px;
      margin-left: 0px;
      max-width: 100px !important;
    }

    .iconosProductorCard{
      width: 10px;
    }

    .pantalla-chica-productores {
      display: flex;
    }

    .pantalla-grande-productores {
      display: none;
    }

  }