
.contenedor-analisis{
    background-color: #DAC5B3;
    height: 100vh;
    color: black;
} 

.contenedorTituloAnalisisCompleto{
    text-align: center;
    padding: 15px 0px;
}

.seccion-titulo-analisis{
    text-align: center;
    padding: 15px 0px;
}

.tituloAnalisisCompleto{
    font-size: 30px;
    color: black;
}

.formulario-analisis{
    width: 100%;
    padding-left: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "columna-uno columna-dos";
    padding-top: 30px;
    background-color: #DAC5B3;
}

@media (max-width: 768px) {
    .formulario-analisis {
        padding-left: 10px;
        display: block;
        margin-top: 10px;
    }
}

.seccion-form-analisis{
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start; 
    margin: 3% auto;
}

.label-izquierdo{
    display: inline-block;
    width: 250px;
    padding-top: 8px;
    color: black;
}

.label-izquierdo-error{
    display: inline-block;
    width: 250px;
    padding-top: 8px;
    color: red;
}

.label-derecho{
    padding-top: 8px;
    color: black;
}

.label-derecho-error{
    padding-top: 8px;
    color: red; 
}

.input-analisis{
    width: 80px;
    margin-right: 15px !important;
    color: black;
}

.tituloCationesIntercambio{
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.seccion-botones-analisis {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
}


/* Responsive */
@media (max-width: 768px) {

    .label-izquierdo,
    .label-izquierdo-error
    .label-derecho {
        width: 100%; 
        text-align: left;
        padding-left: 10px;
    }

    .seccion-form-analisis{
        flex-direction: row;
        align-items: center;
    }

    .columna-uno,
    .columna-dos{
        padding-left: 20px;
    }


    .contenedorCationesIntercambio{
        margin-top: 20px;
    }

}